• {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif; /* Подключенный шрифт */
    background-color: #f4f4f4; /* Цвет фона */
    line-height: 1.6;
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #35424a; /* Цвет фона шапки */
    color: #ffffff; /* Цвет текста */
    padding: 15px; /* Отступы */
    text-align: left;
}

nav ul {
    list-style: none; /* Убираем маркеры */
    padding: 0; /* Убираем отступы */
    display: flex;
    justify-content: left;
    gap: 20px;
}

    nav ul li {
        display: inline; /* Горизонтальное расположение */
    }

nav a {
    color: #ffffff; /* Цвет ссылок */
    text-decoration: none; /* Убираем подчеркивание */
    font-family: 'Roboto', sans-serif; /* Шрифт для навигации */
    font-size: 16px; /* Размер шрифта для ссылок */
}

    nav a:hover {
        color: #f0a500; /* Цвет текста при наведении */
    }

    nav a.active {
        color: tomato;
    }

main {
    flex-grow: 1;
    padding: 20px; /* Отступы для основного содержимого */
}

section {
    margin: 20px 0; /* Отступы между секциями */
    background: #ffffff; /* Цвет фона секций */
    padding: 20px; /* Внутренние отступы */
    border-radius: 5px; /* Закругленные углы */
    box-shadow: 0 0 10px rgba(0,0,0,0.1); /* Тень */
}

table {
    width: 100%; /* Ширина таблицы */
    border-collapse: collapse; /* Убираем двойные границы */
    margin-top: 20px; /* Отступ сверху */
}

table, th, td {
    border: 1px solid #cccccc; /* Границы таблицы */
}

th, td {
    padding: 10px; /* Отступы для ячеек */
    text-align: left; /* Выравнивание текста */
}

footer {
    background-color: black; /* Цвет фона футера */
    color: white; /* Цвет текста футера */
    text-align: center; /* Выравнивание текста футера */
    padding: 20px 0; /* Отступы в футере */
    margin-top: 20px; /* Отступ сверху */
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

    footer a {
        color: white; /* Цвет ссылок в футере */
        text-decoration: none; /* Убираем подчеркивание */
    }

        footer a:hover {
            color: #f0a500; /* Цвет ссылок при наведении */
        }

@media (max-width: 800px) {
    #about img {
        width: 500px;
    }
}

@media (max-width: 600px) {
    header {
        text-align: center;
    }

    nav ul {
        flex-direction: column; /* Vertical alignment */
        align-items: center;     /* Center items on the cross axis */
    }
    nav a {
        font-size: calc(16px + 4px); /* Increase font size by 4px */

    }

    #about img {
        width: 100%; /* Force image width to 100% on smaller screens */
        height: auto; /* Maintain aspect ratio */
    }

    table {
        font-size: calc(100% - 2px); /* Reduce font size by 2px. Adjust 100% if the default font size is different */
    }
}

@media (max-width: 400px) {
    table {
        font-size: calc(100% - 4px); /* Reduce font size by 2px. Adjust 100% if the default font size is different */
    }
}